* {
font-family: monospace;
}

h1 {
font-variant: small-caps;
}

a {
color:black;
}

article {
  border-bottom: 1px solid lightgrey;
}

pre {
background-color: black; /* background-color: rgb(196,194,194); */
padding:1rem 1rem 1rem 0;
overflow-x: scroll;
}

code {
font-weight: bold;
font-size:1.1rem;
color:yellow;
}

blockquote {
font-family: serif !important;
font-size:1.3rem;
font-style: italic;
color:grey;
}
