* {
font-family: monospace;
}

h1 {
font-variant: small-caps;
}

a {
color:black;
}

article {
  border-bottom: 1px solid lightgrey;
}

pre {
background-color: rgb(196,194,194);
padding:1rem 0 1rem 1rem;
}

code {
font-weight: bold;
color:green;
}
