nav ul {
    list-style-type:none;
    padding:0;
}

::selection {
    background-color:#EFFACE;
}

a {
    color:#D00D00;
}

img {
    width:100%;
    height:auto;
}

pre {
    overflow: scroll;
}

@media only screen and (min-width: 800px) {
    body {
        max-width: 800px;
        display:grid;
        grid-template-columns:100px 600px
    }

    header {
        grid-column:1 / span 2;
    }
}

pre, code {
    background-color: darkgrey;
}
code span.al {
    color: #ffcfaf;     /* Alert */
}
code span.an {
    color: #7f9f7f; 
    font-weight: bold;  /* Annotation */
}
code span.at {
                        /* Attribute */
}
code span.bn {
    color: #dca3a3;     /* BaseN */
}
code span.bu {
                        /* BuiltIn */
}
code span.cf {
    color: #f0dfaf;     /* ControlFlow */
}
code span.ch {
    color: #dca3a3;     /* Char */
}
code span.cn {
    color: #dca3a3; 
    font-weight: bold;  /* Constant */
}
code span.co {
    color: #7f9f7f;     /* Comment */
}
code span.cv {
    color: #7f9f7f; 
    font-weight: bold;  /* CommentVar */
}
code span.do {
    color: #7f9f7f;     /* Documentation */
}
code span.dt {
    color: #dfdfbf;     /* DataType */
}
code span.dv {
    color: #dcdccc;     /* DecVal */
}
code span.er {
    color: #c3bf9f;     /* Error */
}
code span.ex {
                        /* Extension */
}
code span.fl {
    color: #c0bed1;     /* Float */
}
code span.fu {
    color: #efef8f;     /* Function */
}
code span.im {
                        /* Import */
}
code span.in {
    color: #7f9f7f; 
    font-weight: bold;  /* Information */
}
code span.kw {
    color: #f0dfaf;     /* Keyword */
}
code span.op {
    color: #f0efd0;     /* Operator */
}
code span.ot {
    color: #efef8f;     /* Other */
}
code span.pp {
    color: #ffcfaf; 
    font-weight: bold;  /* Preprocessor */
}
code span.sc {
    color: #dca3a3;     /* SpecialChar */
}
code span.ss {
    color: #cc9393;     /* SpecialString */
}
code span.st {
    color: #cc9393;     /* String */
}
code span.va {
                        /* Variable */
}
code span.vs {
    color: #cc9393;     /* VerbatimString */
}
code span.wa {
    color: #7f9f7f; 
    font-weight: bold;  /* Warning */
}
